<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.2/socket.io.js" integrity="sha512-VJ6+sp2E5rFQk05caiXXzQd1wBABpjEj1r5kMiLmGAAgwPItw1YpqsCCBtq8Yr1x6C49/mTpRdXtq8O2RcZhlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <script>
        var host = "http://127.0.0.1:"
        var port = "5000"
        $(document).ready(() => {
            
            var socket = io.connect(host+port);
            
            socket.on('connect', () => {
                socket.send("user_connected")
            });

            socket.on('message', (data) => {
                $('#messages').append($('<p>').text(data))
            });

            $('#sendBtn').on('click', () => {
                socket.send($('#username').val() + ': ' + $('#message').val());
                $('#message').val('');
            })
        })
    </script>
    <div id="messages">hi</div>

    <input type="text" id="username" placeholder="Username">
    <input type="text" id="message" placeholder="Message">
    <button id="sendBtn">Send</button>
</body>
</html>